{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container text-center mt-4 text-muted">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col mt-2 p-2 border">
      <h1 class="text-danger">{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-secondary mb-2" type="submit">{% trans 'Sign Out' %}</button>
        <a class="btn btn-secondary mb-2" href="{% url 'dashboard' %}" role="button">Back To Newsfeed</a>
      </form>

    </div>
    <div class="col">
      
    </div>
  </div>
</div>



{% endblock %}