{% extends 'base.html' %}

{% block content %}

<div class="text-center m-3 border-bottom">
    <h1>NewsFeed</h1>
    <p>welcome {{ user.username }}</p>
</div>

<div class="container text-center border-bottom">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="text-center align-center" style="height: 100%;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary mb-3" type="submit">Post
                    </button>
                </form>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<div class="container text-center mt-3">
    <div class="row">
        <div class="col" style="width: 100%;" style="height: 100%;">
            <div class="card text-center bg-white bg-opacity-75 mt-2 text-center">
                {% for followed in user.profile.follows.all %}
                {% for posts in followed.user.posts.all %}
                <h5 class="card-title text-decoration-underline border-top p-3">{{ posts.user.username }}</h5>
                <div class="card-body" style="width: 100%;">
                    <p class="card-text">{{ posts.body }}</p>
                    <figcaption class="blockquote-footer border-bottom pb-2" style="width: 100%;">
                        ({{ posts.created_at }})
                    </figcaption>


                    <h3 class="text-secondary h4 text-decoration-underline">Comments:</h3>
                    <div class="card-body">

                        {% for comment in comments.all %}
                        <div class="comments" style="padding: 10px;">
                            <p>{{ comment.body }} - {{ user.username }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    {% if user.is_authenticated %}
                    <h3 class="text-secondary h4 text-decoration-underline">Leave a comment:</h3>
                    <div class="text-center align-center" style="height: 100%;">
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form }}
                            <button class="btn btn-secondary" type="submit">Post
                            </button>
                        </form>
                    </div>
                    {% endif %}


                </div>
                <div class="bg-success bg-opacity-25" style="width: 100%;">
                    <br>
                </div>
                {% endfor %}
                {% endfor %}



            </div>
            <div class="col">

            </div>
        </div>
    </div>




    {% endblock content %}