<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KarenBook</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="bg-success bg-opacity-25">
  <div class="border-bottom border-muted">
    <div class="container text-center mt-4 mb-2">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <section>
            <h1 class="fs-1 fw-semibold text-danger">KarenBook</h1>
            <small class="text-muted">The politically incorrect social platform</small>
          </section>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col">

      </div>
      <div class="col mt-5">
        <h1 class="fs-1 fw-semibold text-danger mb-4">Welcome...</h1>
        <div class="mb-4">
          <a class="btn btn-success btn-lg mb-4" href="{% url 'account_login' %}" role="button">Sign In</a>
        </div>
        <div class="m-4">
          <a class="btn btn-success btn-lg mt-2" href="{% url 'account_signup' %}" role="button">Sign Up</a>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>

  <footer class="border-top pt-5">
    <div class="container text-center mt-3">
      <div class="row">
        <div class="col">
          <div class="card bg-light" style="height: 100%;" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <h6 class="card-subtitle mb-2 text-muted">who the hell are we?</h6>
              <p class="card-text">The social network where everything politically incorrect is acceptable and welcomed.</p>
            </div>
          </div>
          <div class="col">
          </div>

        </div>
        <div class="col">
          <div class="card bg-light" style="height: 100%;" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Standards</h5>
              <ul class="list-group bg-light">
                <li class="list-group-item">No Racism</li>
                <li class="list-group-item">No illegal activity</li>
                <li class="list-group-item">No online bullying</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>
</body>

</html>